.main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 100%;
	min-height: 100vh;
	background: transparent linear-gradient(150deg, #364f6b 0%, #364f6b 40%, #3fc1c9 100%) 0% 0%
		no-repeat padding-box;
}
.home {
	width: 15vw;
	display: flex;
	justify-content: center;
}
.home:hover {
	animation: pulse 1s infinite;
}

.projects {
	overflow: hidden;
	height: 80vh;
}

.nav {
	position: fixed;
	top: 50vh;
	left: 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: translate(-50%, -50%);
}

.nav svg {
	margin: 5px 0;
	transition: 0.3s;
	cursor: pointer;
}

.nav svg:first-child:hover {
	transform: translateY(-10px) scale(1.1);
}
.nav svg:last-child:hover {
	transform: translateY(10px) scale(1.1);
}
.nav svg:first-child:hover:active {
	transform: translateY(-10px) scale(1);
	transition: 0.1s;
}
.nav svg:last-child:hover:active {
	transform: translateY(10px) scale(1);
	transition: 0.1s;
}

@keyframes pulse {
	0% {
	}
	10% {
		transform: rotate(10deg);
	}
	15% {
		transform: rotate(-5deg);
	}
	20% {
		transform: scale(1.2) rotate(3deg);
	}
	30% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(1.1);
	}
	70% {
	}
	90% {
		transform: scale(1.2);
	}
	100% {
	}
}
